{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Provider</title>
 
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'authapp/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'authapp/css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                       
              <center><img src= "{% static 'userapp\images\payment.png' %}" height="300px" width="300px"></center>
                                      
            </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'authapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'authapp/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>